html,body{
	margin: 0;
	padding: 0;
}

#head{
	height: 60px;
	overflow: hidden;	
	display: flex;
	border-bottom: 1px solid #ccc;
}

#head div{
	flex:1;
}

#head .item{
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	border-right: 1px solid #000;
}

#banner{
	width:1020px;
	height:400px;
	margin: 0 auto;
	background: #000;
}

#body{
	width:1280px;
	margin:0 auto;
	display:flex;
}

#body .title{
	font-size: 140%;
	font-weight: 600;
}
#body .item{
	padding: 5px;
	height: 400px;
}

#introduce{
	border-right: 1px solid #ccc;
	flex:2;
}

#activite{
	flex:1;
}

#info{
	width: 80vw;
	margin: 0 auto;
	margin-top: 20px;
	border-top: 1px solid #000;
	padding: 5px;
}
