<div id="banner">
	
</div>

<div id="">

	<div class="home-block">

		<div class="left"></div>
		<div class="right">
			<span class="title">
				场馆简介
			</span>
		</div>
	</div>
	<div class="home-block">
		
		<div class="left"></div>
		<div class="right"></div>
	</div>
	<div class="home-block">
		
		<div class="left"></div>
		<div class="right"></div>
	</div>
	<div class="home-block">
		
		<div class="left"></div>
		<div class="right"></div>
	</div>
	<div class="home-block">
		
		<div class="left"></div>
		<div class="right"></div>
	</div>
	<div class="home-block">
		
		<div class="left"></div>
		<div class="right"></div>
	</div>
	<div class="home-block">
		
		<div class="left"></div>
		<div class="right"></div>
	</div>

</div>
